@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
    font-family: 'Press Start 2P', cursive;
    background-color: #D9A566;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color:#F2F2F2;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #593A2E;
    min-height: 130px;   
}
.header > h1{
    margin: 0;
    text-shadow: 3px 3px black;
}
.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 100px;
    flex:1;
    gap: 2rem;
    text-shadow: 2px 2px black;
}
.btnActions{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.footer{
    background-color: #0D0000;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    text-shadow:1px 1px #D9A566;
}
.result{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    flex-direction: column;
    text-align: center;
}
.fa-solid{
    font-size: 6rem;
    transition: color text-shadow;
}
.fa-solid:hover{
    color: #0D0000;
    text-shadow: 2px 2px #F2F2F2;
}
.github {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.players{
    font-size: 2rem;
}
.btnStart,.reset{
    font-family: 'Press Start 2P', cursive;
    background-color: #0D0000;
    color: #F2F2F2;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    border-radius: 20px/25px;
    box-shadow: 2px 2px 5px #F2F2F2;
} 
.hidden{
    display: none;
}
/* .resultflex{
    display: flex;
    flex-direction: column;
} */
.resultflex h2{
    font-size: 2rem;
}
.gridResult{
    display: grid;
    grid-template-columns: 100px 100x;
    grid-template-rows: 1fr 100px;
}
.score{
    font-size: 1.6rem;
}
.gridResult .fa-user,.gridResult .fa-robot {
    font-size: 3.5rem;
    color:#0D0000;
    text-shadow: 2px 2px #F2F2F2;
}
.gridResult .btn{
    font-size: 2.5rem;
}
@media (max-width: 600px) {
    .header > h1{
        font-size: 1.1rem;
        text-shadow: 3px 3px black;
    }
    .btnActions{
        gap: 50px;
    }
    .fa-solid{
        font-size: 5rem;
        transition: color text-shadow;
    }
    .gridResult .fa-user,.gridResult .fa-robot {
        font-size: 2rem;
    }
    .gridResult .btn{
        font-size: 1.5rem;
    }
    .container{
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .score{
        font-size: 1.2rem;
    }
    .reset{
        font-size: 1.1rem;
    }
}